<div class="card product-card h-100">
  <img [ngSrc]="product.image" width="300" height="300"  style="object-fit:cover;" class="card-img-top product-image" [alt]="product.title">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="price">${{ product.price | number:'1.2-2' }}</p>
  </div>
  <div class="card-footer bg-transparent">
    <button class="btn btn-primary w-100" (click)="addToCart()">
      Añadir al carrito
    </button>
  </div>
</div>